<% provide(:title, 'Home') %>
<div class="center jumbotron">
<h1>Personal Trainer Labs</h1>
<p>
  This is the home page for the
  
</p>


<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>

</div>