<% provide(:title, 'Home') %>
<% if !user_signed_in? %>

<div class="center jumbotron">
<h1>Personal Trainer Labs</h1>
<p>
  This is the home page for the
  
</p>



<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>

<% end %>

<% if user_signed_in? %>

<h1>My Schedule</h1>

 <aside class="col-md-2">
    <section>testing</section>
  </aside>

	<div class="col-md-10">
      <%= link_to "new appointment", new_appointment_path %>
      <div id='calendar'></div>

	</div>

</div>


  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
<% end %>

</div>