<div class="nested-fields" id="subfield">

                        <div class="step-pane" id="step0">
                            <div class="row form-wrapper">
                                <div class="col-md-8">
                                	 <div class="form-group">
			                              <%= f.label :amount, :class => "col-md-2 control-label" %>
			                              <div class="col-md-8">
			                              <%= f.text_field :amount, :class => "form-control", :placeholder => "Amount" %>
			                            </div>
			                        </div>
                                    
                                <%= link_to_remove_association "remove task", f %>
									  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                     
  

