<div class="col-md-12 sections" style="margin-bottom:60px;">
                            <h6>Additional Details</h6>
                            <p>

                        <b>Age:</b>
                        <%= current_user.rolable.age %>
                      </p>


                      <p>
                        <b>Gender:</b>
                        <%= current_user.rolable.gender %>
                      </p>

                      <p>
                        <b>Phone:</b>
                        <%= number_to_phone(current_user.rolable.phone, area_code: true) %>
                      </p>
                        </div>