<div class="col-md-12 sections">
                            <h6>Additional Details</h6>
                            <p>

                        <b>Age:</b>
                        <%= @client.age %>
                      </p>


                      <p>
                        <b>Gender:</b>
                        <%= @client.gender %>
                      </p>

                      <p>
                        <b>Phone:</b>
                        <%= @client.phone %>
                      </p>
                        </div>