<li>
  <%= client.name %>
  <%= link_to "Edit client info", edit_client_path(client.id) %>
<%= link_to "delete", client, method: :delete,
                                  data: { confirm: "You sure?" } %>
</li>