<%= form_for(current_user, url: progress_client_path(@client), remote: true) do |f| %>
  <div class="field">
    <%= f.label :exercise, "See Progress of an Exercise" %><br />
    <%= f.collection_select :id, current_user.rolable.exercises, :id, :name, {:include_blank => 'Choose One', :selected => 0}, {:style => "width:225px;"} %>
  </div>
  <br>
  <%= f.submit "View Progress", class: "btn mybtn btn-md btn-primary", id: "chartbtn", :style => "width:225px;" %>
<% end %>