<div id="flashtest">

</div>
        <div id="pad-wrapper" class="users-list" style="margin-top:20px;">
            <div class="row header" style="margin-bottom:20px;margin-left:0px;">
                <h3 style="margin-bottom: 0px;">Appointments for <%= @client.name %></h3>
                <% if current_user.rolable_type == "Trainer" %>
                <p style="clear:both;"><%= link_to "Return To Client Profile", client_path(@client) %></p>
                <% else %>
                <p style="clear:both;"><%= link_to "Return To My Profile", edit_user_registration_path %></p>
                <% end %>
              </div>
        
                
<div id="addaptschart">
  <%= render 'appointments/aptschart' %>
</div>


 
    </div>






