<div id="pad-wrapper" class="users-list">
            <div class="row header">
                <h3>Progress for <%= @client.name.capitalize %></h3><br><br>
                <%= link_to "Return To Client Profile", client_path(@client) %>
                <div class="col-md-10 col-sm-12 col-xs-12 pull-right" id="hapit">                    
                    <!-- custom popup filter -->
                    <!-- styles are located in css/elements.css -->
                    <!-- script that enables this dropdown is located in js/theme.js -->
                    



                    

                    <a href="#" class="btn-flat success pull-right dropdown-toggle" data-toggle="dropdown" id="spacer">
                        <span>&#43;</span>
                        Exercise
                    </a>
                    <div class="dropdown-menu" style = "padding: 10px 20px;">
                     <div>
                        <%= render 'progform' if signed_in? %>
                        </div>
                      </div>
                </div>
            </div>




<div class="row">
<div id="prog">
<%= render "prog" %>
</div>
</div>
 
</div>







