<div id='hidepop'><div class='field'> When: <span class='date'> <%= @start %> to <%= @end %>
          </span></div> <div class='field' style='margin-bottom:12px;'> Who: <%= @name %> <span class='who'></span></div><div id="insertdecline" style="display:inline-block;"></div></div>