$('.icon-warning-sign').popover('destroy');
$('.fc-event').popover('destroy');

$("#flashtest").html("<%= escape_javascript(render('requests/declineconfirm')) %>");
$(".alert-danger").delay(3000).fadeOut(1400);

$("#calendar").fullCalendar("refetchEvents");
<% if current_user.rolable_type == "Trainer" %>
    <% countrequest = current_user.rolable.requests.size %>
    $('span.count').remove();
    <% if countrequest != 0 %>
    $('.icon-warning-sign').parents('li').append('<span class="count">' + <%= countrequest %> + '</span>');
    <% end %>
    <% end %>
window.scrollTo(0, 0);