<% @appointment = @workout.appointment
    @id = @appointment.client_id
    @exercises = @workout.agendas.sort_by {|x| x.created_at}
    unless @appointment.present?
      @client = Client.find(@id)
    else
      @meetups = @appointment.meetups
      @attends = []
      @meetups.each do |meetup|
        @name = Client.find(meetup.client_id).name
        @attends << @name
        @last = @attends.last
      end
    end %>

(function() {
$("#new_agendar").html("<%= escape_javascript(render('workouts/addworkout_form')) %>");
$("#listing").html("<%= escape_javascript(render('workouts/newlist')) %>");
$('#hapit').removeClass('open');
$('.table tr:even').css('background-color', 'rgba(202, 201, 201, 0.34)');
$('.table tr:first').css('background-color', 'rgba(217, 237, 247, 0.66)');
$('body').off('click', '#editrotate');
$('body').on('click', '#editrotate', function(e){

    $(this).popover({
      title: "Edit Exercise ",
      width: 500,
      animation: false,
      trigger: 'manual',
      container: 'body',
      placement: 'top',
      content: "test",
      html: true,
      template: '<div class="popover" style="width:500px" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
    }).popover('show');
})
})();


