<% unless current_user.rolable.card_href.blank? %>

    <% unless current_user.rolable.trainer.default_price.blank? %>
    <div style="border-bottom: dotted 1px lightgray; padding-bottom: 18px; margin-bottom: 18px;">
      <% @cost = current_user.rolable.trainer.default_price.to_f/100 %>
      <h3>Current Price Per Training Session</h3>
      <h5><%= number_to_currency(@cost) %></h5>
    </div>
    
    <% else %>

    <div style="border-bottom: dotted 1px lightgray; padding-bottom: 18px; margin-bottom: 18px;">
      <h3>Current Price Per Training Session</h3>
      <h5>No current price listed</h5>
    </div>

        

    <% end %>

    <div style="">

       <h5>If you would like to stop making payments through Personal Trainer Labs or want to change your card details, click the button below to remove your current card information.</h5>

      <p><%= button_to "Remove My Card", payments_delete_client_card_path, method: :post, remote: true, class: "btn mybtn btn-large btn-primary deleteMe" %></p>

    </div>

    

<% else %>

<div style="max-width:700px;">

<h2 style="font-size: 28px;">To get started, we need just a few details from you.</h2>
<h5 style="font-weight: 200; margin-bottom: 20px; margin-top: 12px;max-width:650px;">After that, when you schedule a training session through Personal Trainer Labs, we'll automatically withdraw the funds at 4 PM ET on the day of your session.</h5>



<form role="form">
  <h2 style="background:#F0F1F2;padding: 8px 15px 8px;margin-bottom: 25px; margin-top: 25px;font-size: 26px;">Card Information</h2>
  <div class="form-group" style="clear:both;border-bottom: dotted 1px lightgray; padding-bottom: 10px;">
    <label style="max-width: 153px;height: 34px;float: left; padding-top: 12px;margin-right: 70px;">Name On Card</label>
    <input type="text" class="form-control" style="max-width:220px;text-align:center;" id="cc-name" autocomplete="off" placeholder="" />
  </div>
  <div class="form-group" style="clear:both;border-bottom: dotted 1px lightgray; padding-bottom: 10px;">
    <label style="max-width: 153px;height: 34px;float: left; padding-top: 12px;margin-right: 76px;">Card Number</label>
    <input type="text" class="form-control" style="max-width:220px;text-align:center;" id="cc-number" autocomplete="off" placeholder="" maxlength="16" />
  </div>
  <div class="form-group" style="clear:both;border-bottom: dotted 1px lightgray; padding-bottom: 10px;">
    <label style="max-width: 153px;height: 34px;float: left; padding-top: 12px;margin-right: 65px;">Expiration Date</label>
    <div style="width: 220px; display: inline-block;">
      <input type="text" class="form-control" style="max-width:60px;text-align:center;display:inline-block" id="cc-ex-month" autocomplete="off" placeholder="MM" maxlength="2" /> / 
      <input type="text" class="form-control" style="max-width:60px;text-align:center;display:inline-block" id="cc-ex-year" autocomplete="off" placeholder="YYYY" maxlength="4" />
    </div>
  </div>
  <div class="form-group" style="clear:both;border-bottom: dotted 1px lightgray; padding-bottom: 12px;">
    <label style="max-width: 153px;height: 34px;float: left; padding-top: 12px;margin-right: 0px;margin-bottom:22px;">Card Verification Code (CVV)</label>
    <div style="width: 220px; display: inline-block;">
      <input type="text" class="form-control" style="max-width:60px;text-align:center;margin-top:6px;" id="ex-cvv" autocomplete="off" placeholder="" maxlength="4" />
    </div>
  </div>
  <div class="form-group" style="clear:both; padding-bottom: 10px;">
    <label style="max-width: 153px;height: 34px;float: left; padding-top: 12px;margin-right: 102px;">Zip Code</label>
    <div style="width: 220px; display: inline-block;">
      <input type="text" class="form-control" style="max-width:100px;text-align:center;" id="postal-code" autocomplete="off" placeholder="" maxlength="5" />
    </div>
  </div>

  <a id="cc-submit" class="btn btn-primary" style="margin-top:20px;width:141px;display:block;">Add Card</a>
</form>


</div>
<% end %>

<script type="text/javascript">
function handleResponse(response) {
  if (response.status_code === 201) {
    var fundingInstrument = response.cards != null ? response.cards[0] : response.bank_accounts[0];
    // Call your backend
    jQuery.post("<%= payments_verify_client_card_path %>", {
      uri: fundingInstrument.href
    }, function(r) {
      // Check your backend response
      if (r.status === 201) {
        // Your successful logic here from backend
      } else {
      // Your failure logic here from backend
      }
    });
  } else {
    // Failed to tokenize, your error logic here
  }
}
$('#cc-submit').click(function (e) {
  e.preventDefault();

  var ccnumber = $('#cc-number').val().replace(/\s+/g,"");

  var payload = {
    name: $('#cc-name').val(),
    number: ccnumber,
    expiration_month: $('#cc-ex-month').val(),
    expiration_year: $('#cc-ex-year').val(),
    cvv: $('#ex-cvv').val(),
    address: {
      postal_code: $('#postal-code').val()
    }
  };
    // Create credit card
  balanced.card.create(payload, handleResponse);
});

$('#cc-number').formatter({
  'pattern': '{{9999}}  {{9999}}  {{9999}}  {{9999}}',
  'persistent': false
});

</script>