<div id="pad-wrapper">
                <div class="row calendar-wrapper">
                    <div class="col-md-12" style="padding-bottom:20px;">
                        <div class="col-md-10 col-sm-12 col-xs-12 pull-right keep-open" id="hapit">

                        <a href="#" class="btn-flat success pull-right dropdown-toggle" data-toggle="dropdown" id="spacer">
                            <span>&#43;</span>
                            NEW APPOINTMENT
                        </a>
                        <div class="dropdown-menu" style = "padding: 15px; padding-bottom: 0px;">
                         <div id="new_agendars">

                            <%= render 'forms' if signed_in? %>



                            </div>
                          </div>
                      </div>
                  </div>

                        <!-- div that fullcalendar plugin uses  -->
                        <div id='calendar'></div>

                       
                    </div>
                </div>
        </div>



<div id="create_event_dialog" class="dialog" style ="display:none;">
    <%= render 'form' %>
  </div>

    <div id="event_desc_dialog" class="dialog" style="display:none;"></div>

    
<script>
 $(document).ready(function()
 {
   //Handles menu drop down`enter code here`

    $(document).on('click', function(){
     $('.keep-open').data('closable', true);
     
  });
  $('body').off('click', '.dropdown-menu');
  $('body').on('click', '.dropdown-menu', function(e) {
        $('.keep-open').data('closable', false);
        
    });
  $('body').off('click', '.attachs :submit');
  $('body').on('click', '.attachs :submit', function(e) {
        $('.keep-open').data('closable', true);
        $('#hapit').removeClass('open');
        
    });
   //Handles menu drop down`enter code here`
   $('.keep-open').off('hide.bs.dropdown');
   $('.keep-open').on('hide.bs.dropdown', function () {
        return $(this).data('closable');
    });

 });
  </script>