<div id="pad-wrapper">
                <div class="row calendar-wrapper">
                    <div class="col-md-12">
                        <!-- div that fullcalendar plugin uses  -->
                        <div id='calendar'></div>

                       
                    </div>
                </div>
        </div>


<%= link_to 'New appointment', new_appointment_path, class: "btn btn-primary", style: "margin-top: 25px;"  %>

<div id="create_event_dialog" class="dialog" style ="display:none;">
    <%= render 'form' %>
  </div>

    <div id="event_desc_dialog" class="dialog" style="display:none;"></div>

    
