<h1>Editing exercise</h1>
<div class="row form-wrapper">
                <!-- left column -->
                <div class="col-md-9 with-sidebar">


<%= render 'form' %>
</div>
        </div>




<%= link_to 'Show', @exercise %> |

